@import url(http://fonts.googleapis.com/css?family=Nunito);

html, body {

	margin: 0;
	padding: 0;
	border: 0;

}

body {
	height: 100%;
/* 	background-color: pink; */
	font-family: 'Nunito', sans-serif;
}

#mainWrapper {
	color: #ffffff;
	width: 80%;
	margin-left: 10%;
	font-size: 30px;
}

#mainWrapper > h1 {
	color: rgb(253, 84, 11);
}

ul > a > li {
	list-style: none;
	color: #ffffff;
	margin-left: 10%;
	display: inline;
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	background-color: rgba(253, 84, 11, 0.7);
}

ul > a > li:hover {
	background-color: rgba(253, 84, 11, 1);
}

a {
	text-decoration: none;
}

